<h1>Listing links</h1>

<table>
  <tr>
    <th>Link</th>
    <th>Shortened Link</th>
    <th></th>
  </tr>

  <% @links.each do |link| %>
    <tr>
      <td><%= link_to 'Show', link_url(link) %></td>
      <td><a href="http://localhost:3000/<%= link.link_id %>">http://localhost:3000/<%= link.link_id %></a></td>
      <td><a href="<%= link.link %>"><%= link.link %></a></td>
    </tr>
  <% end %>
</table>